.call-button {
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: white;

  &.call {
    background-color: green;
    color: white;
  }

  &.moving {
    background-color: yellow;
    color: black;
  }

  &.waiting {
    background-color: yellow;
    color: black;
  }

  &.arrived {
    background-color: blue;
    color: white;
  }
}
